// Here you can add other styles

.mr-2 {
  margin-right: 0.5rem;
}

img {
  max-width: 100%;
  max-height: 100%;
}

select {
  option {
    background: #fff !important;
    color: #000 !important;
  }
}

.day-container {
  color: #000;
}

.default-placeholder {
  height: 38px;
}

html[data-coreui-theme='dark'] {
  .default-placeholder {
    background-color: #212631;
    border: solid 1px #323a49;
  }
}

.calendar.visible {
  // top: 0 !important;
  // left: 0 !important;
  // transform: translate(-50%, -50%) !important;
}

.date-picker-app-wrapper {
  .text {
    opacity: 0;
  }
}
.date-active {
  .text {
    opacity: 1;
  }
}
